.dsc-catalog-card-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}
.dsc-catalog-card-top{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dsc-catalog-card-top img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dsc-card-catalog {
    background-color: var(--dsc-color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--dsc-color-card-border);

}
.dsc-catalog-card-bottom{
    padding: 10px 20px;
}
.dsc-catalog-card-bottom h3{
  
    color: var(--dsc-color-font-secondary);
}
.dsc-catalog-card-bottom > p{
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-font-primary);
    text-align: justify;
    margin: 0 27px 25 20px;
}


.dsc-loading-card {
    margin-bottom: 20px;
}


.dsc-search-bar{
    margin-top:20px;
    height: 40px;
    display: flex;
    justify-content: center;
}