.card {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
}

.card-img {
    padding-top: 10px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
}

.card-img img {
    width: 220px;

}

.card-descricao {
    padding: 10px 20px 20px 20px;
}

.card-descricao h3 {
    color: #0CAF1D;
    font-size: 20px;

}

.card-descricao p {
    color: #636363;
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
}
